#ignore compiled files
*.pyc

#ignore all checkpoints
.ipynb_checkpoints

# pycache
__pycache__/

# ignore dataset, as it is too heavy for github
data/final_data.hdf5
data/final_data_R1.hdf5

# Ignore uploading age, as it is a restricted data in HCP and cannot be publicly available
data/age.xlsx
data/data_response_variables.hdf5

# Restricted data
data/RESTRICTED_frankyeh_8_2_2017_12_54_49.csv
